In [1]:
print("Hello World")

Hello World

In [2]:
#Shift +Enter to run code

In [3]:
va2 =123

In [4]:
va2

123

In [5]:
freeze

NameError: name 'freeze' is not defined

In [6]:
pip freeze

appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.8
attrs==22.1.0
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.1
certifi==2022.9.24
cffi==1.15.1
debugpy==1.6.3
decorator==5.1.1
defusedxml==0.7.1
entrypoints==0.4
executing==1.1.1
fastjsonschema==2.16.2
ipykernel==6.16.0
ipython==8.5.0
ipython-genutils==0.2.0
jedi==0.18.1
Jinja2==3.1.2
jsonschema==4.16.0
jupyter-core==4.11.1
jupyter_client==7.3.5
jupyterlab-pygments==0.2.2
MarkupSafe==2.1.1
matplotlib-inline==0.1.6
mistune==2.0.4
nbclient==0.7.0
nbconvert==7.2.1
nbformat==5.6.1
nest-asyncio==1.5.6
notebook==6.4.12
numpy==1.26.4
packaging==21.3
pandas==2.2.2
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
prometheus-client==0.14.1
prompt-toolkit==3.0.31
psutil==5.9.2
ptyprocess==0.7.0
pure-eval==0.2.2
pycparser==2.21
Pygments==2.13.0
pyparsing==3.0.9
pyrsistent==0.18.1
python-dateutil==2.8.2
pytz==2024.1
pyzmq==24.0.1
Send2Trash==1.8.0
six==1.16.0
soupsieve==2.3.2.post1
stack-data==0.5.1
terminado==0.16.0
tinycss2==1.1.1
tornado==6.2
traitlets==5.4.0
tzdata==2024.1
wcwidth==0.2.5
webencodings==0.5.1
Note: you may need to restart the kernel to use updated packages.

In [7]:
int a=2.0

SyntaxError: invalid syntax (2943971747.py, line 1)

In [8]:
var_int=2
var_float=2.0
var_string="Srting"

In [11]:
print(f" intiger variable {var_int} , float variable {var_float} , string {var_string}")

 intiger variable 2 , float variable 2.0 , string Srting

In [14]:
print(f" int type {type(var_int)}  \n float type {type(var_float)} \n string type {type(var_string)}")

 int type <class 'int'>
 float type <class 'float'>
 string type <class 'str'>

In [31]:
num1=28
num2=10
print(f"Decimal division/Float division{num1/num2}")
print(f"Intiger divistion/floor division {num1//num2}")
#floor division will remve decimal part (not round of )

Decimal division/Float division2.8
Intiger divistion/floor division 2

In [32]:
26/3

8.666666666666666

In [33]:
26%3

2

In [34]:
30%10

0

In [35]:
# % modulos operator is used to get remender 
num1=110
n2=100
print(f" print remender  {num1%n2}")

 print remender  10

In [36]:
5**2

25

In [38]:
# write a avegare for 3 numbers 
num1 =10
num2 =15
num3 =20
print (f" Average of three numbers {(num1+num2+num3)/3}")

 Average of three numbers 15.0

In [39]:
# how to define variables in single line 
num1,num2,num3 = 10,15,20
print(f"  average of numbers {(num1+num2+num3)/3}")

  average of numbers 15.0

In [40]:
tem_degree=10
fahrenhelt = (tem_degree*1.8)+32
print(fahrenhelt)

50.0

In [41]:
def degree_to_fahrenhelt(tem_degree):
    print(f" temprature in fahrenhelt {(tem_degree*1.8)+32}")

In [42]:
degree_to_fahrenhelt(10)

 temprature in fahrenhelt 50.0

In [43]:
degree_to_fahrenhelt(32)

 temprature in fahrenhelt 89.6

In [44]:
def fahrenhelt_degree(farhenhel):
    print(f" in degree {(fahrenhelt-32)/1.8}")

In [46]:
fahrenhelt_degree(50)

 in degree 10.0

In [48]:
# calculate simple interetst 
principal =1000
interest= 12
time =5
si =principal*interest*time/100
print(f" simple interest is {si}")

 simple interest is 600.0

In [65]:
def inr_to_doller(inr_amonut):
    print(f" print  {round(((inr_amonut/82.23)),2)}")
    return round((inr_amonut/82.23),2)

In [66]:
inr_to_doller(3484.5)

 print  42.38

42.38

In [68]:
def area_peremiter(side):
    print(f" area {side**2}")
    print(f" peremeter {4*side} ")

In [69]:
area_peremiter(4)

 area 16
 peremeter 16

In [71]:
##sting indexing

In [94]:
my_string="upgrad my class"

In [89]:
my_string[-2]

'a'

In [92]:
my_string[:2]

'up'

In [97]:
my_string[7:9].title()

'My'

In [100]:
my_string[1::2]

'prdm ls'

In [113]:
my_string=" data2scirnce "

In [102]:
my_string.title()

'Data Science'

In [103]:
my_string.capitalize()

'Data science'

In [105]:
help(capitalize())

NameError: name 'capitalize' is not defined

In [106]:
len(my_string)

12

In [114]:
my_string.islower()

True

In [112]:
my_string.istitle()

False

In [115]:
def make_upper(input: str):
    print(f" input : {input} and output: {input.title()}")

In [116]:
make_upper("sandeep")

 input : sandeep and output: Sandeep

In [118]:
# Data type and its conversion 
var1 =5
type(var1)

int

In [120]:
var2=float(var1)
type(var2)

float

In [123]:
var3= str(var2)
type(var3)
print(var3)

5.0

In [124]:
var_float =5.0

In [125]:
type(var_float)

float

In [127]:
var_int=int(var_float)
type(var_int)
#print(var_int)

int