In [8]:
my_list = [1,1411,59 ,10,20,40]

In [2]:
for var1 in my_list :
    print(var1)

1
1411
59

In [3]:
[ var1*var1 for var1 in my_list]

[1, 1990921, 3481]

In [9]:
[var1 for var1 in my_list if var1%2 ==0]

[10, 20, 40]

In [10]:
my_list.append(202)

In [11]:
my_list

[1, 1411, 59, 10, 20, 40, 202]

In [12]:
my_list.reverse()

In [13]:
my_list

[202, 40, 20, 10, 59, 1411, 1]

In [14]:
my_list.pop()

1

In [15]:
my_list

[202, 40, 20, 10, 59, 1411]

In [20]:
my_list.remove(20)

In [21]:
my_list

[202, 40, 10, 59, 1411]

In [24]:
my_list.index(40)

1

In [26]:
my_list.insert(1,22)

In [27]:
my_list

[202, 22, 40, 10, 59, 1411]

In [28]:
my_list.append("sandeep")

In [29]:
my_list

[202, 22, 40, 10, 59, 1411, 'sandeep']

In [30]:
# flatten the list 
my_list2= [[1,3],[5,7],[2,6,7]]

In [31]:
[ num for row in my_list2 for num in row ]

[1, 3, 5, 7, 2, 6, 7]

In [34]:
#cube of number 
num1 = [1,2,3,4,6]
[ n1*n1*n1 for n1 in num1 ]

[1, 8, 27, 64, 216]

In [37]:
# print the 0 to 20 numbers 
[i for i in range(21)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [42]:
# create a list of first letters of given list
words = ["apple", "banana", "cherry", "date"]
[i[0:1] for i in words]

['a', 'b', 'c', 'd']

In [46]:
# create touple of given list with index and value 
numbers = [10, 20, 30, 40]
[ (numbers.index(n1),n1) for n1 in numbers  ]

[(0, 10), (1, 20), (2, 30), (3, 40)]

In [47]:
# flatten the given list 
matrix = [[1, 2], [3, 4], [5, 6]]
[ l2 for l1 in matrix for l2 in l1 ]

[1, 2, 3, 4, 5, 6]

In [52]:
# create list of worlds of given This is a sentence
sencence ="This is a sentence"
[ len(world) for world in sencence.split() ]

[4, 2, 1, 8]

In [53]:
#  get max and min

In [54]:
max(numbers)

40

In [55]:
min(numbers)

10

In [56]:
sum(numbers)

100

In [59]:
#print vovels in world "hello world"
world ="hello world"
[c for c in world if c in "aeiou"]

['e', 'o', 'o']

In [58]:
sum(numbers)/len(numbers)

25.0

In [60]:
#suqal of odd numbers 
numbers = [1, 2, 3, 4, 5]
[num*num for num in numbers  if num%2!=0]

[1, 9, 25]

In [61]:
# combination of numbers 
[(x,y) for x in numbers for y in numbers]

[(1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5)]

In [64]:
# possible combinaiton 
[(x,y) for x in numbers for y in numbers if x!=y]

[(1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (2, 1),
 (2, 3),
 (2, 4),
 (2, 5),
 (3, 1),
 (3, 2),
 (3, 4),
 (3, 5),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 5),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4)]

In [65]:
# append add elment in the end of the list 
numbers.append(2022)

In [66]:
numbers

[1, 2, 3, 4, 5, 2022]

In [67]:
#  inset number as o index 
numbers.insert(2,2014)

In [68]:
numbers

[1, 2, 2014, 3, 4, 5, 2022]

In [71]:
numbers.remove(1)

In [72]:
numbers

[2, 2014, 3, 4, 5, 2022]

In [73]:
help(numbers.remove)

Help on built-in function remove:

remove(value, /) method of builtins.list instance
    Remove first occurrence of value.

    Raises ValueError if the value is not present.

In [74]:
help(numbers.sort)

Help on built-in function sort:

sort(*, key=None, reverse=False) method of builtins.list instance
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

In [75]:
numbers.reverse()

In [76]:
numbers

[2022, 5, 4, 3, 2014, 2]

In [79]:
numbers.sort()

In [83]:
numbers.sort(reverse=False)
numbers

[2, 3, 4, 5, 2014, 2022]

In [84]:
numbers.extend(numbers)

In [85]:
numbers

[2, 3, 4, 5, 2014, 2022, 2, 3, 4, 5, 2014, 2022]

In [86]:
# remove all the elements from then list
numbers.clear()

In [87]:
numbers

[]

In [91]:
ls =[11,2,3,4,4,4,6,]

In [93]:
#  count is used to check how many times input element has been added in list
ls.count(4)

3

In [94]:
ls

[11, 2, 3, 4, 4, 4, 6]

In [96]:
# create dict 
my_dict ={"name":"sandeep","age":30}

In [97]:
my_dict

{'name': 'sandeep', 'age': 30}

In [98]:
my_dict.keys()

dict_keys(['name', 'age'])

In [99]:
my_dict.values()

dict_values(['sandeep', 30])

In [100]:
my_dict["age"]=20

In [101]:
my_dict

{'name': 'sandeep', 'age': 20}

In [102]:
del my_dict["age"]

In [103]:
my_dict

{'name': 'sandeep'}

In [104]:
help(my_dict.get)

Help on built-in function get:

get(key, default=None, /) method of builtins.dict instance
    Return the value for key if key is in the dictionary, else default.

In [109]:
my_dict.get("name1","congrats")

'congrats'

In [110]:
my_dict.update(my_dict)

In [112]:
my_dict2= {"age":20}

In [113]:
my_dict.update(my_dict2)

In [114]:
my_dict

{'name': 'sandeep', 'age': 20}

In [125]:
my_dict2= {"age":10}
my_dict2

{'age': 10}

In [116]:
my_dict.update(my_dict3)

In [126]:
my_dict3

{'age': 10}

In [122]:
my_dict3.update(my_dict2)

In [123]:
my_dict

{'name': 'sandeep', 'age': 30}

In [127]:
nested_person = {'first_name': 'Gopal', 'last_name': 'Verma', 'age': 30, 'gender': 'Male', 'address': {'street': '2nd Main Road', 'city': 'Bengaluru', 'state': 'Karnataka', 'zip_code': 56873}, 'email': 'gopalverma@upgradlearn.com', 'phone': [21218765,131243435], 'is_employed': True}

In [128]:
nested_person

{'first_name': 'Gopal',
 'last_name': 'Verma',
 'age': 30,
 'gender': 'Male',
 'address': {'street': '2nd Main Road',
  'city': 'Bengaluru',
  'state': 'Karnataka',
  'zip_code': 56873},
 'email': 'gopalverma@upgradlearn.com',
 'phone': [21218765, 131243435],
 'is_employed': True}

In [131]:
nested_person["address"]["city"]

'Bengaluru'

In [139]:
d1={"a":1,"b":2}
d2={"b":3,"d":4}

In [137]:
d2.update(d1)

In [138]:
d2

{'b': 2, 'd': 4, 'a': 1}

In [140]:
d1.pop()

TypeError: pop expected at least 1 argument, got 0

In [141]:
d1.pop("a")

1

In [142]:
d1

{'b': 2}

In [143]:
d1.update(d2)

In [144]:
d1

{'b': 3, 'd': 4}

In [145]:
d1.popitem()

('d', 4)

In [165]:
tup =(1,2,34)

In [163]:
 d

TypeError: 'dict_keys' object is not subscriptable

In [166]:
tup

(1, 2, 34)

In [167]:
sorted(tup)

[1, 2, 34]

In [168]:
ls=list(tup)

In [169]:
ls

[1, 2, 34]

In [170]:
tp =tuple(ls)

In [171]:
tp

(1, 2, 34)

In [172]:
#set 
my_set ={1,2,3}

In [173]:
my_set

{1, 2, 3}

In [174]:
1 in my_set

True

In [175]:
my_set.add(1)

In [176]:
my_set

{1, 2, 3}

In [177]:
my_set.add(20)

In [178]:
my_set

{1, 2, 3, 20}

In [179]:
s=set()

In [180]:
s

set()

In [181]:
s.add(1)

In [182]:
s

{1}

In [193]:
s1={1,2,3,4}
s2={4,5,6}

In [192]:
s2-s1

{5, 6}

In [194]:
s1.difference(s2)

{1, 2, 3}

In [185]:
s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [186]:
s1.intersection(s2)

{4}

In [187]:
s1.add(7)

In [188]:
s1

{1, 2, 3, 4, 7}

In [189]:
help(s1.difference)

Help on built-in function difference:

difference(...) method of builtins.set instance
    Return the difference of two or more sets as a new set.

    (i.e. all elements that are in this set but not the others.)